<div class="single-question">
  <p>Вопрос #<%= @question.id %>: <%= @question.body %></p>
  <div class="answers">
    <p>Ответы:</p>
    <% @question.answers.each do |answer| %>
      <p><%= answer.body %></p>
    <% end %>
    <%= link_to 'back', test_questions_path(@question.test_id) %>
    <%= link_to 'Back to test', test_path(@question.test_id) %>
    <%= link_to 'Delete', question_path(@question), method: :delete, data: {confirm: 'Are ypu sure?'} %>
  </div>
</div>
