<h2><%= t('.header') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :last_name, autocomplete: "first name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autocomplete: "last name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="passwords">
    <p class="help-block mismatch hide text-danger">
      <%= octicon 'issue-opened' %> <b>Пароли не совпадают</b>
    </p>
    <p class="help-block match hide text-success">
      <%= octicon 'issue-closed' %> <b>Пароли совпадают</b>
    </p>
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em><%= t('devise.shared.password.min_length', count: @minimum_password_length) %></em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", id: 'password' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", id: 'password-repeat' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t('.sign_up') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
