<% @tests.each do |test| %>
  <div>
    <h2><%= test.title %></h2>
    <p>Category: <%= test.category.title %></p>
    <p>Level: <%= test.level %></p>
    <p>Questions: <%= test.questions.count %></p>
  </div>
  <%= button_to 'Start', start_test_path(test) %>
  <%= link_to 'Details', admin_test_path(test) %>
<% end %>
<%= link_to 'Create new', new_admin_test_path %>
