<h1 class="row justify-content-center"><%= t('tests.index.header') %></h1>
<% if @tests.present? %>
  <div class="row">
    <% @tests.each do  |test| %>
      <div class="col-12 col-md-6 mt-2">
        <div class="card ml-1 mr-1">
          <h5 class="card-header"><%= test.title %></h5>
          <div class="card-body">
            <h5 class="card-title"><%= t('.table.category') %>: <%= test.category.title %></h5>
            <p class="card-text"><%= t('.table.level') %>: <%= test.level %> | <%= t('.table.questions') %>: <%= test.questions.count %></p>
            <%= button_to t('.start_button'), start_test_path(test), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p><%= t('.no_tests_available') %></p>
<% end %>
